@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

/* landing page start */
#landing_page {
    background-image: url(../images/note_pen.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.bnr_content .logo {
    padding: 3vh 0 0 5vh;
}

.bnr_content .logo h1 {
    color: #ffffff;
    font-size: 45px;
    font-weight: 600;
    font-family: 'Lobster', cursive;
}

.bnr_content .coming_soon {
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bnr_content .coming_soon p {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}

.bnr_content .coming_soon h2 {
    font-size: 60px;
    font-family: 'Lobster', cursive;
    margin: 0.5vh 0;
}

.bnr_content .social_icon {
    position: absolute;
    bottom: 3vh;
    left: 5vh;
}

.bnr_content .social_icon ul {
    display: flex;
}

.bnr_content .social_icon ul li {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}

.bnr_content .social_icon ul li a {
    color: #ffffff;
    font-size: 25px;
}





/* countdown */
.timer .cnt_row {
    display: inline-block;
}

.timer .cnt_row div {
    display: inline-block;
    padding: 0 30px;
}

.timer h3 {
    color: #fff;
    font-size: 60px;
    font-weight: 600;
    line-height: 1;
}

.timer p {
    color: #f0f0f0;
    font-size: 20px;
    font-weight: 600;
}
/* countdown */

/* landing page end */
